# Analysis of ICD codes in Mondo & ICD10CM

In [32]:
# Allows import from scripts/ dir
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [33]:
from scripts.check_valid_codes import icd_xrefs_mondo, icd_classes_icd, common_codes, common_codes_stats

In [34]:
icd_xrefs_mondo.head()

         codes
0  ICD10:I45.5
1   ICD9:426.6
2  ICD10:K76.8
3  ICDO:8051/0
4  ICD10:E22.0

In [45]:
'ICD10:A00.B99' in list(icd_xrefs_mondo['codes'])

True

In [50]:
'ICD9:426.6' in list(icd_xrefs_mondo['codes'])

True

In [51]:
icd_classes_icd.head()

             codes
0   ICD10CM:M62.49
1  ICD10CM:R00-R09
2    ICD10CM:V96.1
3  ICD10CM:W01.119
4   ICD10CM:M05.80

In [59]:
common_codes

,prefixAssumed:code,prefixAssumed,prefixOriginal:code,prefixOriginal,code,in_Mondo,in_ICD10CM
0,ICD10CM:I45.5,ICD10CM,ICD10:I45.5,ICD10,I45.5,True,True
1,ICD9CM:426.6,ICD9CM,ICD9:426.6,ICD9,426.6,True,False
2,ICD10CM:K76.8,ICD10CM,ICD10:K76.8,ICD10,K76.8,True,True
3,ICDO:8051/0,ICDO,ICDO:8051/0,ICDO,8051/0,True,False
4,ICD10CM:E22.0,ICD10CM,ICD10:E22.0,ICD10,E22.0,True,True
...,...,...,...,...,...,...,...
100800,ICD10CM:O43.223,ICD10CM,ICD10CM:O43.223,ICD10CM,O43.223,False,True
100801,ICD10CM:Z04,ICD10CM,ICD10CM:Z04,ICD10CM,Z04,False,True
100802,ICD10CM:T22.632,ICD10CM,ICD10CM:T22.632,ICD10CM,T22.632,False,True
100803,ICD10CM:T63.834S,ICD10CM,ICD10CM:T63.834S,ICD10CM,T63.834S,False,True
100804,ICD10CM:S15.291S,ICD10CM,ICD10CM:S15.291S,ICD10CM,S15.291S,False,True

In [60]:
ccc3 = common_codes[common_codes['prefixOriginal:code'] == 'ICD10:A00.B99']
ccc3

,prefixAssumed:code,prefixAssumed,prefixOriginal:code,prefixOriginal,code,in_Mondo,in_ICD10CM
3030,ICD10CM:A00.B99,ICD10CM,ICD10:A00.B99,ICD10,A00.B99,True,False

In [67]:
common_codes_prefix_map = common_codes[['prefixOriginal', 'prefixAssumed']]
common_codes_prefix_map = common_codes_prefix_map.drop_duplicates()
common_codes_prefix_map

     prefixOriginal prefixAssumed
0             ICD10       ICD10CM
1              ICD9        ICD9CM
3              ICDO          ICDO
1544        ICD10CM       ICD10CM
1723         ICD-10       ICD10CM
7337          ICD11       ICD11CM
9253            STY           STY

In [62]:
ccc = common_codes[(common_codes['in_ICD10CM'] == False) & (common_codes['prefixAssumed'] == 'ICD10CM')]
ccc.head()

,prefixAssumed:code,prefixAssumed,prefixOriginal:code,prefixOriginal,code,in_Mondo,in_ICD10CM
165,ICD10CM:A39.1+,ICD10CM,ICD10:A39.1+,ICD10,A39.1+,True,False
166,ICD10CM:E35.1*,ICD10CM,ICD10:E35.1*,ICD10,E35.1*,True,False
230,ICD10CM:B02.2+,ICD10CM,ICD10:B02.2+,ICD10,B02.2+,True,False
231,ICD10CM:G53.0*,ICD10CM,ICD10:G53.0*,ICD10,G53.0*,True,False
562,ICD10CM:23.0,ICD10CM,ICD10:23.0,ICD10,23.0,True,False

In [68]:
ccc.to_csv('illegal_icd10_codes.tsv', index=False)
len(ccc)

165

In [64]:
ccc2 = common_codes[(common_codes['in_Mondo'] == True) & (common_codes['prefixAssumed'] == 'ICD10CM')]
ccc2.head()

,prefixAssumed:code,prefixAssumed,prefixOriginal:code,prefixOriginal,code,in_Mondo,in_ICD10CM
0,ICD10CM:I45.5,ICD10CM,ICD10:I45.5,ICD10,I45.5,True,True
2,ICD10CM:K76.8,ICD10CM,ICD10:K76.8,ICD10,K76.8,True,True
4,ICD10CM:E22.0,ICD10CM,ICD10:E22.0,ICD10,E22.0,True,True
5,ICD10CM:Q63.8,ICD10CM,ICD10:Q63.8,ICD10,Q63.8,True,True
6,ICD10CM:E71.3,ICD10CM,ICD10:E71.3,ICD10,E71.3,True,True

In [65]:
len(ccc2)

4311

In [58]:
common_codes_stats

          ontology prefixAssumed  count
1          ICD10CM       ICD10CM  95843
7          ICD10CM       ICD11CM      0
3          ICD10CM        ICD9CM      0
5          ICD10CM          ICDO      0
9          ICD10CM           STY    127
0            Mondo       ICD10CM   4311
6            Mondo       ICD11CM      2
2            Mondo        ICD9CM   3937
4            Mondo          ICDO    731
8            Mondo           STY      0
10  Mondo; ICD10CM       ICD10CM   4146
13  Mondo; ICD10CM       ICD11CM      0
11  Mondo; ICD10CM        ICD9CM      0
12  Mondo; ICD10CM          ICDO      0
14  Mondo; ICD10CM           STY      0